<a href="https://colab.research.google.com/github/rengarajspt/placement-eligiblity-web-page/blob/main/project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**project no 1**

In [ ]:
# ✅installing needed library's

!pip install pandas
!pip install faker
!pip install streamlit

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting faker
  Downloading faker-37.4.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 20.7 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.0
Collecting streamlit
  Downloading streamlit-1.46.0-py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<26,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.2.1)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.14.0)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 1.4 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.24.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.43.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.6.15)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.25.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.46.0-py3-none-any.whl (10.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 63.2 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 102.5 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 5.6 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.46.0 watchdog-6.0.0

In [ ]:
#✅ import  that library's

import pandas as pd
from faker import Faker
from tabulate import tabulate
import random
fake=Faker()
import sqlite3

In [ ]:
#✅ sql-connection in colab to sqlite3

class sql_connection():
  def __init__(self,name):
    self.name=name

  def connection(self): #✅ connection code
    mydb=sqlite3.connect(self.name)
    mycursor=mydb.cursor()
    mycursor.execute("PRAGMA foreign_keys = ON")
    print("Database created")
    return mycursor,mydb

students=1000
start=1001
name="project_1.db"
connect=sql_connection(name)
mycursor,mydb=connect.connection()
print(mycursor,mydb)

Database created
<sqlite3.Cursor object at 0x7dffb8c7afc0> <sqlite3.Connection object at 0x7dffb8b565c0>

In [ ]:
#✅ create dataset in faker library useing and create table and insert that values
class students_table():
  def __init__(self,n,start,mycursor,mydb):
    self.n=n
    self.start=start
    self.mycursor=mycursor
    self.mydb=mydb
    self.data=[]

  def create_data_1(self): #✅ table needed values creation
    num =(range(self.start, self.start+self.n))
    for i in num:
      students_id=i
      name=fake.name()
      age=random.randint(21,35)
      gender="".join(random.choice(["male","female","other"]))
      email=fake.email()
      ph_no=fake.phone_number()
      enrollment_year=random.randint(2024,2025)
      course_batch="abc"+str(random.randint(1,10))
      city=fake.city()
      graduation_year=random.randint(2010,2024)
      self.data.append([students_id,name,age,gender,email,ph_no,enrollment_year,course_batch,city,graduation_year])
    print("data created")
    return self.data

  def create_table_sql_1(self): #✅ table creation in sql
     self.mycursor.execute('''create table students_table ( student_id integer primary key,name text,age integer,gender text,
            email text,phone_no text,enrollment_year integer,course_batch text,city text,graduation_year int ) ''')
     print("table created")


  def values_inserting_1(self): #✅ values inserting list of tuples method
    frame=("insert into students_table values (?,?,?,?,?,?,?,?,?,?)")
    self.mycursor.executemany(frame,self.data)
    self.mydb.commit()
    print("values inserted")

students_data=students_table(students,start,mycursor,mydb) #✅ call the class
students_data.create_data_1()
students_data.create_table_sql_1()
students_data.values_inserting_1()

data created
table created
values inserted

In [ ]:
mycursor.execute("select *from students_table") #✅  sample check dataset in 5 rows
out=mycursor.fetchall()
df1=pd.DataFrame(out,columns=[i[0] for i in mycursor.description])
df1.head()

,student_id,name,age,gender,email,phone_no,enrollment_year,course_batch,city,graduation_year
0,1001,Alicia Brown,32,female,alexandra61@example.org,734-346-7302,2024,abc6,Hillhaven,2017
1,1002,Jennifer Williams,26,other,ctodd@example.net,+1-363-655-9076x9749,2024,abc10,Smithland,2015
2,1003,Jessica Dalton,29,female,michelecummings@example.com,+1-481-943-2115,2024,abc7,New Joefurt,2019
3,1004,Christopher Kramer,28,other,christopher54@example.net,(790)274-7886,2024,abc10,South Frank,2023
4,1005,Michelle Johnson,34,male,samanthacarter@example.com,386.428.5860x85261,2025,abc10,Port Jessicamouth,2011

In [ ]:
#  ✅create dataset in faker library useing and create table and insert that values

class programming_table():
  def __init__(self,n,start,mycursor,mydb):
    self.n=n
    self.start=start
    self.mycursor=mycursor
    self.mydb=mydb
    self.data=[]

  def create_data_2(self):#✅  table needed values creation
    num =(range(self.start, self.start+self.n))
    for i in num:
      programing_id=i
      students_id=i
      prog_language=",".join(random.sample(["python","java","c","c++","sql","javascript","ruby","php","r","css"],k=random.randint(1,10)))
      problems_solve=random.randint(100,700)
      assessments_complete=random.randint(1,12)
      mini_projects=random.randint(0,6)
      certificates_earn=len(prog_language.split(","))
      latest_projrct_score=(0 if mini_projects==0 else random.randint(20,100))
      self.data.append([programing_id,students_id,prog_language,problems_solve,\
                        assessments_complete,mini_projects,certificates_earn,latest_projrct_score])
    print("data created")
    return self.data

  def create_table_sql_2(self): #✅  table creation in sql
     self.mycursor.execute('''create table programming_table ( programming_id integer primary key,student_id integer,prog_language text,
     problems_solve integer,assessments_complete integer,mini_projects integer,certificates_earn integer,latest_project_score integer) ''')
     print("table created")


  def values_inserting_2(self): #✅  values inserting list of tuples method
    frame=("insert into programming_table values (?,?,?,?,?,?,?,?)")
    self.mycursor.executemany(frame,self.data)
    self.mydb.commit()
    print("values inserted")

programming_data=programming_table(students,start,mycursor,mydb) #✅  call the class
programming_data.create_data_2()
programming_data.create_table_sql_2()
programming_data.values_inserting_2()

data created
table created
values inserted

In [ ]:
mycursor.execute(" select * from programming_table") #✅  sample check dataset in 5 rows
out=mycursor.fetchall()
result_2=pd.DataFrame(out,columns=[i[0]for i in mycursor.description])
result_2.head()

,programming_id,student_id,prog_language,problems_solve,assessments_complete,mini_projects,certificates_earn,latest_project_score
0,1001,1001,"css,c,java,javascript,python,sql,r,ruby,c++",501,12,3,9,86
1,1002,1002,"python,ruby,javascript,sql",117,2,1,4,35
2,1003,1003,"c++,java,sql,css,r,ruby,c,php",534,5,3,8,38
3,1004,1004,"java,c++,sql,python,javascript,r,ruby,css",265,3,4,8,67
4,1005,1005,"c++,css,sql",391,3,6,3,96

In [ ]:
#✅  create dataset in faker library useing and create table and insert that values

class soft_skills_table():
  def __init__(self,n,start,mycursor,mydb):
    self.n=n
    self.start=start
    self.mycursor=mycursor
    self.mydb=mydb
    self.data=[]

  def create_data_3(self):#✅  table needed values creation
    num=(range(self.start,self.start+self.n))
    for i in num:
      soft_skill_id=i-500
      student_id=i
      communication=random.randint(1,100)
      team_work=random.randint(1,100)
      presentation=random.randint(1,100)
      leadership=random.randint(1,100)
      critical_thinking=random.randint(1,100)
      interpersonal_skill=random.randint(1,100)
      self.data.append([soft_skill_id,student_id,communication,team_work,\
                        presentation,leadership,critical_thinking,interpersonal_skill])
    print("data created")
    return self.data

  def create_table_sql_3(self): #✅  table creation in sql
     self.mycursor.execute('''create table soft_skills_table (soft_skil_id integer primary key,
       student_id integer ,communication integer,teamwork integer,presentation integer,leadership integer,
       criticalthinking integer,interpersonal_skills integer, foreign key(student_id) references students_table (student_id))''')
     print("table created")


  def values_inserting_3(self):#✅  values inserting list of tuples method
    frame=("insert into soft_skills_table values (?,?,?,?,?,?,?,?)")
    self.mycursor.executemany(frame,self.data)
    self.mydb.commit()
    print("values inserted")


soft_skills_data=soft_skills_table(students,start,mycursor,mydb) #✅  call the class
soft_skills_data.create_data_3()
soft_skills_data.create_table_sql_3()
soft_skills_data.values_inserting_3()

data created
table created
values inserted

In [ ]:
mycursor.execute("select * from soft_skills_table ") #✅  sample check dataset in 5 rows
out=mycursor.fetchall()
result_3=pd.DataFrame(out,columns=[i[0] for i in mycursor.description])
result_3.head()

,soft_skil_id,student_id,communication,teamwork,presentation,leadership,criticalthinking,interpersonal_skills
0,501,1001,75,51,58,24,49,28
1,502,1002,16,99,49,40,63,23
2,503,1003,66,59,77,49,51,70
3,504,1004,48,64,86,1,59,43
4,505,1005,14,93,21,14,62,50

In [ ]:
#✅  create dataset in faker library useing and create table and insert that values

class placements_table():
  def __init__(self,n,start,mycursor,mydb):
    self.n=n
    self.start=start
    self.mycursor=mycursor
    self.mydb=mydb
    self.data=[]

  def create_data_4(self):#✅  table needed values creation
    num=(range(self.start,self.start+self.n))
    for i in num:
      placement_id=i-200
      student_id=i
      mock_interview_score=random.randint(1,100)
      internships=random.randint(0,3)
      placement_status=random.choice(["ready","not ready","placed"])
      company_name=( fake.company() if placement_status=="placed" else "no" )
      placement_package=("\u20B9"+" "+str(random.randint(3,25)*100000) if placement_status=="placed" else "no" )
      interview_rounds_cleared=random.randint(0,7)
      placement_date=(str(fake.date_between(start_date="-1y",end_date="today")if placement_status=="placed" else "no" ))
      self.data.append([placement_id,student_id,mock_interview_score,internships,placement_status,\
                        company_name,placement_package,interview_rounds_cleared,placement_date])
    print("data created")
    return self.data

  def create_table_sql_4(self): # ✅ table creation in sql
     self.mycursor.execute(''' create table placements_table (placement_id integer primary key,student_id integer,
       mock_interview_score integer,internships integer,placement_status text,company_name text,package text,
       interview_rounds_cleared integer,placement_date text,foreign key (student_id) references students_table(student_id)) ''')
     print("table created")


  def values_inserting_4(self):#✅  values inserting list of tuples method
    frame=(" insert into placements_table values (?,?,?,?,?,?,?,?,?)")
    self.mycursor.executemany(frame,self.data)
    self.mydb.commit()
    print("values inserted")


placements_data=placements_table(students,start,mycursor,mydb) #✅  call the class
placements_data.create_data_4()
placements_data.create_table_sql_4()
placements_data.values_inserting_4()

data created
table created
values inserted

In [ ]:
mycursor.execute("select * from placements_table ") #✅  sample check dataset in 5 rows
out=mycursor.fetchall()
result_4=pd.DataFrame(out,columns=[i[0] for i in mycursor.description])
result_4.head()

,placement_id,student_id,mock_interview_score,internships,placement_status,company_name,package,interview_rounds_cleared,placement_date
0,801,1001,89,2,ready,no,no,3,no
1,802,1002,55,2,placed,"Wilcox, Garner and Sutton",₹ 500000,4,2024-08-02
2,803,1003,40,3,placed,Bryant-Johnson,₹ 2200000,6,2025-02-03
3,804,1004,73,2,not ready,no,no,0,no
4,805,1005,43,2,not ready,no,no,7,no

In [ ]:
%%writefile app.py
import streamlit as st
import sqlite3
import pandas as pd

class ConnectDB:
    def __init__(self, name='project_1.db'):
        self.pd = pd
        self.conn = sqlite3.connect(name)
        self.mycursor = self.conn.cursor()

    def execute_query(self, query, params=None):
        if params:
            self.mycursor.execute(query, params)
        else:
            self.mycursor.execute(query)
        out = self.mycursor.fetchall()
        df = self.pd.DataFrame(out, columns=[i[0] for i in self.mycursor.description])
        return df

    def save_dataframe(self, df, table_name):
        df.to_sql(table_name, self.conn, index=False, if_exists='replace')

class StreamlitPage:
    def __init__(self, pd, st):
        self.pd = pd
        self.st = st
        self.mydb = ConnectDB()
        self.page = self.st.sidebar.radio(
            "✳️ Pages",
            ["🏠︎    Home", "⏳    Filtering", "🕵    Filtered data", "👥   All data"]
        )

    def function(self):
        if self.page == "🏠︎    Home":
            self.home()
        elif self.page == "⏳    Filtering":
            self.filtering()
        elif self.page == "🕵    Filtered data":
            self.filtered_data()
        elif self.page == "👥   All data":
            self.all_data()

    def home(self):
        self.st.title("- - - -WELCOME TO 📊- - - -")
        self.st.title("PLACEMENT ELIGIBILITY WEB-APP")
        self.st.image("/content/illustrated-woman-being-intern-company.png")

    def filtering(self):
        self.st.title("ELIGIBLE STUDENTS 🎖️ ")
        self.st.sidebar.title("Enter the eligibility limits")
        codekata = self.st.sidebar.number_input("Codekata limit")
        assessments = self.st.sidebar.number_input("Assessments")
        projects = self.st.sidebar.number_input("Mini Projects")
        communication = self.st.sidebar.number_input("Communication score")
        mock_interview_score = self.st.sidebar.number_input("Mock interview score")

        if self.st.button("Run 🕵️"):
            query = '''
                SELECT
                    students_table.student_id,
                    students_table.name,
                    students_table.gender,
                    programming_table.problems_solve,
                    programming_table.assessments_complete,
                    programming_table.mini_projects,
                    soft_skills_table.communication,
                    placements_table.mock_interview_score
                FROM students_table
                INNER JOIN programming_table ON students_table.student_id = programming_table.student_id
                INNER JOIN soft_skills_table ON students_table.student_id = soft_skills_table.student_id
                INNER JOIN placements_table ON students_table.student_id = placements_table.student_id
                WHERE programming_table.problems_solve >= ?
                AND programming_table.assessments_complete >= ?
                AND programming_table.mini_projects >= ?
                AND soft_skills_table.communication >= ?
                AND placements_table.mock_interview_score >= ?
            '''

            df = self.mydb.execute_query(query, (codekata, assessments, projects, communication, mock_interview_score))
            self.st.dataframe(df)

            table = '''
                SELECT
                    students_table.student_id,
                    students_table.name,
                    students_table.age,
                    students_table.gender,
                    students_table.email,
                    students_table.phone_no,
                    students_table.enrollment_year,
                    students_table.course_batch,
                    students_table.city,
                    students_table.graduation_year,
                    programming_table.prog_language,
                    programming_table.problems_solve,
                    programming_table.assessments_complete,
                    programming_table.mini_projects,
                    programming_table.certificates_earn,
                    programming_table.latest_project_score,
                    soft_skills_table.communication,
                    soft_skills_table.teamwork,
                    soft_skills_table.presentation,
                    soft_skills_table.leadership,
                    soft_skills_table.criticalthinking,
                    soft_skills_table.interpersonal_skills,
                    placements_table.mock_interview_score,
                    placements_table.internships,
                    placements_table.placement_status,
                    placements_table.company_name,
                    placements_table.package,
                    placements_table.interview_rounds_cleared,
                    placements_table.placement_date
                FROM students_table
                INNER JOIN programming_table ON students_table.student_id = programming_table.student_id
                INNER JOIN soft_skills_table ON students_table.student_id = soft_skills_table.student_id
                INNER JOIN placements_table ON students_table.student_id = placements_table.student_id
                WHERE programming_table.problems_solve >= ?
                AND programming_table.assessments_complete >= ?
                AND programming_table.mini_projects >= ?
                AND soft_skills_table.communication >= ?
                AND placements_table.mock_interview_score >= ?
            '''

            df1 = self.mydb.execute_query(table, (codekata, assessments, projects, communication, mock_interview_score))
            self.mydb.save_dataframe(df1, 'filtered_table')

    def filtered_data(self):
        self.st.title("FILTERED DATA INSIGHTS 📊 ")
        queries_1 = {
            "Ranking codekata wise": '''
                SELECT RANK() OVER (ORDER BY problems_solve DESC) AS rank,
                       student_id, name, problems_solve
                FROM filtered_table
            ''',
            "Average soft skills score in each student": '''
                SELECT student_id, name,
                ROUND((communication + presentation + teamwork + leadership + criticalthinking + interpersonal_skills)/6.0, 2)
                AS Average_soft_skill_score
                FROM filtered_table
                WHERE (communication + presentation + teamwork + leadership + criticalthinking + interpersonal_skills)/6.0 > 60
            ''',
            "Count of students by placement status": '''
                SELECT placement_status, COUNT(*) AS total_students
                FROM filtered_table
                GROUP BY placement_status
            ''',
            "High score in mock interview and ready for job": '''
                SELECT student_id, name, mock_interview_score, internships, placement_status
                FROM filtered_table
                WHERE placement_status = 'ready'
                AND mock_interview_score > (SELECT AVG(mock_interview_score) FROM filtered_table)
                AND internships = 0
            ''',
            "Graduated more than 3 years but not placed": '''
                SELECT student_id, name, graduation_year, placement_status
                FROM filtered_table
                WHERE placement_status IN ('ready', 'not ready')
                AND graduation_year < (CAST(strftime('%Y', 'now') AS INTEGER) - 3)
                ORDER BY graduation_year
            '''
        }

        selected = self.st.selectbox("Choose a Query", list(queries_1.keys()))
        if self.st.button("Run"):
            df = self.mydb.execute_query(queries_1[selected])
            self.st.dataframe(df)

    def all_data(self):
        self.st.title("OVERALL DATA INSIGHTS  📊")
        queries_2 = {
            "Batch wise codekata average": '''
                SELECT students_table.course_batch, ROUND(AVG(programming_table.problems_solve)) AS average_codekata
                FROM students_table
                INNER JOIN programming_table ON students_table.student_id = programming_table.student_id
                GROUP BY students_table.course_batch
                ORDER BY students_table.course_batch
            ''',
            "Interview rounds cleared students counts": '''
                SELECT interview_rounds_cleared, COUNT(*) AS interview_rounds
                FROM placements_table
                GROUP BY interview_rounds_cleared
            ''',
            "Students placed  package above average": '''
                SELECT students_table.student_id,students_table.name,
                placements_table.company_name,placements_table.package
                FROM students_table INNER JOIN placements_table ON students_table.student_id =
                placements_table.student_id WHERE  placement_status = 'placed' AND CAST(REPLACE(placements_table.package, '₹', '') AS INTEGER) >
                ( SELECT AVG(CAST(REPLACE(package, '₹', '') AS INTEGER)) FROM placements_table WHERE placement_status = 'placed' )
                ORDER BY CAST(REPLACE(placements_table.package, '₹', '') AS INTEGER) DESC ''',
            "Top soft skill scores": '''
                SELECT students_table.student_id, students_table.name,
                ROUND((
                    soft_skills_table.communication +
                    soft_skills_table.teamwork +
                    soft_skills_table.presentation +
                    soft_skills_table.leadership +
                    soft_skills_table.criticalthinking +
                    soft_skills_table.interpersonal_skills
                ) / 6.0, 2) AS avg_soft_skill
                FROM students_table
                INNER JOIN soft_skills_table ON students_table.student_id = soft_skills_table.student_id
                ORDER BY avg_soft_skill DESC
                LIMIT 5
            ''',
            "Students placed with low average project score": '''
                SELECT students_table.student_id, students_table.name, programming_table.latest_project_score,
                       placements_table.placement_status
                FROM students_table
                INNER JOIN programming_table ON students_table.student_id = programming_table.student_id
                INNER JOIN placements_table ON students_table.student_id = placements_table.student_id
                WHERE placement_status = 'placed'
                AND programming_table.latest_project_score < (
                    SELECT AVG(latest_project_score) FROM programming_table
                )
                ORDER BY programming_table.latest_project_score
            '''
        }

        selected = self.st.selectbox("Choose a Query", list(queries_2.keys()))
        if self.st.button("Run 🕵️"):
            df = self.mydb.execute_query(queries_2[selected])
            self.st.dataframe(df)

run = StreamlitPage(pd, st)
run.function()

Overwriting app.py

##**method_1**

In [ ]:
!npm install -g localtunnel

⠙⠹⠸⠼⠴⠦⠧
changed 22 packages in 1s
⠧
⠧3 packages are looking for funding
⠧  run `npm fund` for details
⠧

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

⠙
Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false.

⠹⠸⠼⠴⠦⠧
  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://172.28.0.12:8501
  External URL: http://35.237.55.107:8501

⠇⠏your url is: https://pink-eggs-beg.loca.lt
  Stopping...
^C

##**method_2**

In [ ]:
!npm install localtunnel

In [ ]:
!streamlcaltunnel --port 8501 & curl ipv4.icanhazip.comit run /content/app.py &>/content/logs.txt & npx lo

# **optional**

In [ ]:
# drop table to use this
mycursor.execute("drop table students_table ")
mydb.commit()

In [ ]:
# show all tables to use
mycursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = mycursor.fetchall()
print("Tables in the database:", tables)